     
html {
    cursor: none;
    scroll-behavior: smooth;
}

.cursor {
    position: fixed;
    width: 12px;
    height: 12px;
    background-color: #FF3E3E;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    mix-blend-mode: difference;
}

.cursor-follower {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 62, 62, 0.5);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9998;
    transform: translate(-50%, -50%);
    transition: 0.1s ease-out;
}

.hover-target:hover ~ .cursor {
    width: 24px;
    height: 24px;
}

.magnetic-hover {
    display: inline-block;
}.scroll-container {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.scroll-text {
  flex-shrink: 0;
  min-width: 100%;
  animation: scroll-text 50s linear infinite;
}

@keyframes scroll-text {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}


.chart-bar {
    height: 0;
    transition: height 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #FF3E3E;
}

/* buuble aniamtions  */
.bubble {
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(255, 62, 62, 0.3);
    background: rgba(255, 62, 62, 0.05);
    pointer-events: none;
}

.bubble-1 {
    width: 100px;
    height: 100px;
    right: 20%;
    bottom: -50px;
    animation: float 15s ease-in-out infinite;
}

.bubble-2 {
    width: 60px;
    height: 60px;
    right: 30%;
    bottom: -30px;
    animation: float 12s ease-in-out infinite 2s;
}

.bubble-3 {
    width: 40px;
    height: 40px;
    right: 25%;
    bottom: -20px;
    animation: float 10s ease-in-out infinite 1s;
}

 
.bubble-4 {
    width: 120px;
    height: 120px;
    right: 20%;
    bottom: -150px;
    animation: float 15s ease-in-out infinite;
}

.bubble-5 {
    width: 160px;
    height: 160px;
    right: 10%;
    bottom: -130px;
    animation: float 12s ease-in-out infinite 2s;
}

.bubble-6 {
    width: 140px;
    height: 140px;
    right: 30%;
    bottom: -110px;
    animation: float 10s ease-in-out infinite 1s;
}



@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 0;
    }
    10% {
        opacity: 0.8;
    }
    50% {
        transform: translateY(-300px) translateX(-30px);
    }
    90% {
        opacity: 0.2;
    }
    100% {
        transform: translateY(-600px) translateX(0);
        opacity: 0;
    }
}